
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        
        <i><b>  <i class="dripicons-user text-danger"></i>   {{this.utilisateur}}  <i class=" dripicons-home text-danger"></i>  {{this.societe}}   <i class="dripicons-time-reverse text-danger"></i>   {{this.exercice}}</b></i>
    
      
      </div>
      <div class="col-sm-6">
        <div class="text-sm-right d-none d-sm-block">
          <i class="mdi-spin"></i> <i><b>{{this.date}}</b></i>
        </div>
      </div>
    </div>
  </div>
</footer>

